# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Databases
data/
data/*.db
data/*.db-shm
data/*.db-wal
data/*.db-journal
data/*.sqlite

# Feature Sets
feature_sets/
*.json

# Temporary UI
# run_gui.py
# src/gui.py
test_levels.py
extract_tickers.py
