# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Databases
data/*.db
data/*.db-shm
data/*.db-wal
data/*.db-journal
data/*.sqlite

# Project Specific
.python-version
.uv/
dist/
build/
*.egg-info/
